{% extends 'base.html.twig' %}

{% block title %}Edit Discussion{% endblock %}

{% block body %}
    <h1>Edit Discussion</h1>

    {{ include('discussion/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-dark" href="{{ path('discussion_index') }}">Retour à la list</a>
    <br>
    <br>
    {{ include('discussion/_delete_form.html.twig') }}
{% endblock %}
