{% extends 'base.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block body %}
    <h1>Creer une nouvelle discussion</h1>

    {{ include('discussion/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('discussion_index') }}">Lister les discussions</a>
{% endblock %}
