{% extends 'base.html.twig'%}
{% block body%}
<h1>Bonjour monsieur le modo</h1>
<a class="btn btn-dark" href="{{path('admin_users')}}">Pour lister les users</a>
    <br>
    <br>
<a class="btn btn-dark" href="{{path('admin_discussions')}}">Pour lister les discussions</a>
{% endblock %}