{% extends 'base.html.twig'%}
{% block body %}
    {% for discussion in discussions %}
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ discussion.title }}</h5>
                <span>Ecrit le {{  discussion.createdAt | date}}</span>
                <p class="card-text"><p>{{ discussion.content| raw }}</p></p>
            </div>
        </div>


    {% endfor %}
{% endblock %}